# Go specific
/backend/tmp/
/backend/logs/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
*.prof

# Database files
*.db
*.db.bak

# Log files
*.log

# React/JavaScript specific
/frontend/node_modules/
/frontend/.pnp
/frontend/.pnp.js
/frontend/coverage/
/frontend/build/
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# Editor/IDE specific
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific
.DS_Store
Thumbs.db

# Temporary files
*.orig
*.rej
*.bak
*.patch

# Project specific
CLA*.md
TODO.md
backend/CLA*.md
backend/TODO.md
backend/websocket_test.html
http/
